@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 142 73% 34%; /* #0EAD00 Europcar green */
  --primary-foreground: 0 0% 100%;
  --background: 0 0% 100%;
  --foreground: 0 0% 0%;
  --border: 0 0% 90%;
}

html {
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
